###### Required packages for CoreTIDE Toolchain ######
pyyaml 
ruamel.yaml
pandas 
tabulate
mitrecve
jsonschema
GitPython
splunk-sdk
carbon-black-cloud-sdk
toml
azure-mgmt-securityinsight==2.0.0b2
azure-identity
azure-monitor-query